@tailwind base;
@tailwind components;
@tailwind utilities;

/* Police par défaut Outfit sur tout le site */
body {
  font-family: 'Outfit', sans-serif;
}

input, textarea {
  font-family: 'Outfit', sans-serif;
  outline: none !important;
  -webkit-appearance: none;
}

body, body * {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  -webkit-touch-callout: default !important;
}
