@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
  outline: none !important;
  -webkit-appearance: none;
}

body, body * {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  -webkit-touch-callout: default !important;
}
